<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomatodev.timerdroid">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.TimerService" />

        <provider
            android:name=".persistence.CategoriesProvider"
            android:authorities="com.tomatodev.timerdroid.persistence.CategoriesProvider" />
        <provider
            android:name=".persistence.TimersProvider"
            android:authorities="com.tomatodev.timerdroid.persistence.TimersProvider" />
        <provider
            android:name=".persistence.WidgetProvider"
            android:authorities="com.tomatodev.timerdroid.persistence.WidgetProvider" />

        <activity android:name=".activities.ListTimersActivity" />
        <activity android:name=".activities.TimerActivity" />
        <activity android:name=".widget.AppWidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UserSettingsActivity"
            android:label="@string/prefs_activity_title"/>

        <receiver
            android:name=".widget.WidgetProviderSmall"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.tomatodev.timerdroid.ACTION_WIDGET_RECEIVER_START_TIMER" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_small" />
        </receiver>

    </application>
</manifest>